/* 
Color Scheme: Dark Moss
Primary: #697E50
Secondary: #C3CA92
Tertiary: #20331B
Accents: 
   #A4B17B
   #859864
   #4E653D
   #354C2B
*/

/*  ---------------Box Sizing-----------------  */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/*  --------------- Utility Classes -----------------  */
.container{
    width:80vw;
    max-width:960px;
    margin:40px auto;
}

/*  --------------- Responsive Images -----------------  */
img{
    max-width:100%;
}

/*  --------------- Tables -----------------  */
table{
    width:100%;
    border-collapse:collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin:20px 0;
}

table caption{
    font-weight:bold;
    margin:20px;
}

table th{
    background-color:#c3ca92;
    padding:10px;
    border:1px solid #20331B;
}

table tr:nth-child(even){
    background-color:rgba(195, 202, 146,.25);
}

table tr:hover{
    background-color:rgba(195, 202, 146, 1);
}

table td{
    border:1px solid #20331B;
    padding:5px;
    text-align:right;
    width:33%;
}

td:first-of-type{
    text-align:left;
}

/*  --------------- Lists -----------------  */
ol{
    list-style-type:lower-roman;
}

ul ul{
    list-style-type:square;
    color:#C3CA92;
}

dt{
    font-weight:bold;
}

dd{
    margin:0;
}

dd + dt{
    margin-top:20px;
}

/*  --------------- Global Styles -----------------  */
body{
    background-color:#697E50;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    font-size:90%;
    background-color: #697e50;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234e653d' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    /* ../ to go up a level in directory*/
}

header.primary{
    background-color:#C3CA92;
    text-align: center;
    color:#20331B;
    /*T, R, B, L*/
    padding:40px 40px 40px 40px;
    /*TB/LR
    padding:20px 40px;*/
    text-shadow: 1px 1px 2px #000000;
    background-color: #c3ca92;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%234e653d' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

header.primary h1{
    font-size:2.4rem;
}

header.primary h1 a{
    color:#4E653D;
    text-decoration:none;
}

header.primary h2{
    color: #4E653D;
    font-size:1.4rem;
}

header.primary nav{
    max-width:960px;
    margin:20px auto;
    padding-top:20px;
}

header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary nav ul li a{
    color:#c3ca92;
    text-decoration:none;
    text-shadow: 1px 1px 2px #000000;
    background:#4E653D;
    /*
    opacity:.5;
    affects everything, use opaque color instead
    */
    background:rgba(0,0,0,.8);
    padding:8px 16px;
    border-radius:20px;
    border: 2px solid rgba(0,0,0,.6);
    transition: 0.5s;
}

header.primary nav ul li a:hover,
header.primary nav ul li a:active{
    background-color: #859864;
    color:#000000;
    font-size:large;
}

#intro h2{
    color: #C3CA92;
    border-bottom:1px solid #C3CA92;
    text-align:center;
}

#content{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    gap:20px;
    border-bottom:1px solid #C3CA92;
    padding-bottom:50px;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: 0.5s;
} 

#content article.post:hover,
#content article.post:active{
    transition:0.5s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-size:medium;
    background-color:#859864;
}

article.post figure{
    margin:0;
}

time.post-date,
figcaption,
.post-meta{
    text-transform:uppercase;
    color:#C3CA92;
}

.post figure img{
    border:2px solid #20331B;
    padding:2px;
    background:#20331B;
    border-radius:5px;
}

article.post a{
    color:#20331B;
}

article.post a:hover{
    text-decoration:none;
}

#practice h2{
    color:#C3CA92;
    border-bottom: 1px solid #C3CA92;
    text-align:center;
}

#practice a{
    color:#c3ca92;
}

#practice a:hover{
    text-decoration:none;
}

.img-right{
    float:right;
    border:1px solid #C3CA92;
    padding:2px;
    margin:10px 0 10px 20px;
}

.img-left{
    float:left;
    border:1px solid #20331B;
    padding:2px;
    margin:10px 20px 10px 0;
    background:#20331B;
    border-radius:5px;
}

.img-center{
    display:block;
    border:1px solid #20331B;
    padding:2px;
    margin:20px auto;
    background:#20331B;
    border-radius:5px;
}

#practice blockquote{
    border:5px solid #859864;
    margin: 40px 80px;
    padding:40px;
    border-radius:1.5rem;
    background-color: #859864;
    line-height: 1.5;
}

#practice blockquote cite{
    font-size: x-small;
    font-weight: bold;
    text-align:right;
    display:block;
    margin-top:5px;
}

aside[role="complementary"]{
    font-weight:800;
    background-color:#C3CA92;
    padding:5px;
    background-color: #c3ca92;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%234e653d' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

aside .container{
    display:flex;
    gap:40px;
    flex-direction:row;
    
}

aside .widget a:last-of-type{
    display:block;
    text-align:right;
    padding-top:20px;
    color:#20331B;
}

aside .widget footer{
    display:none;
}

#colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #20331B;
    font-size: 0.9rem;
    font-weight:800;
    background-color: #c3ca92;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%234e653d' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  }

/*  --------------- Media Queries -----------------  */
@media screen and (max-width:600px){

    header.primary nav ul{
        flex-direction:column;
        margin:auto;
    }

    header.primary nav a{
        display:block;
    }
    header.primary nav li{
        margin-bottom: 10px;
    }
}