/* 
Color Scheme: Dark Moss
Primary: #697E50
Secondary: #C3CA92
Tertiary: #20331B
Accents: 
   #A4B17B
   #859864
   #4E653D
   #354C2B
*/

/*  ---------------Box Sizing-----------------  */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/*  --------------- Utility Classes -----------------  */
.container{
    width:80vw;
    max-width:960px;
    margin:40px auto;
}

/*  --------------- Responsive Images -----------------  */
img{
    max-width:100%;
}

/*  --------------- Global Styles -----------------  */
body{
    background-color:#697E50;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    font-size:90%;
}

header.primary{
    background-color:#C3CA92;
    text-align: center;
    color:#20331B;
    /*T, R, B, L*/
    padding:40px 40px 40px 40px;
    /*TB/LR
    padding:20px 40px;*/
    text-shadow: 1px 1px 2px #000000;
}

header.primary h1{
    font-size:2.4rem;
}

header.primary h1 a{
    color:#4E653D;
    text-decoration:none;
}

header.primary h2{
    color: #4E653D;
    font-size:1.4rem;
}

header.primary nav{
    max-width:960px;
    margin:20px auto;
}

header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary nav ul li a{
    color:#C3CA92;
    text-decoration:none;
    text-shadow: 1px 1px 2px #000000;
    background:#4E653D;
    /*
    opacity:.5;
    affects everything, use opaque color instead
    */
    background:rgba(0,0,0,.6);
    padding:8px 16px;
    border-radius:20px;
    /*border: 2px solid #20331B;*/
    border: 2px solid rgba(0,0,0,.6);
    transition: 0.5s;
}

header.primary nav ul li a:hover,
header.primary nav ul li a:active{
    background: rgba(0,0,0,.3);
}

#intro {
    border-bottom:1px solid #C3CA92;
    padding-bottom:20px;
}

#intro h2{
    color: #C3CA92;
    border-bottom:1px solid #C3CA92;
}

#content{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    gap:20px;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: 0.5s;
} 

#content article.post:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

article.post figure{
    margin:0;
}

time.post-date,
figcaption,
.post-meta{
    text-transform:uppercase;
    color:#C3CA92;
}

.post figure img{
    border:2px solid #20331B;
    padding:2px;
    background:#20331B;
    border-radius:5px;
}

article.post a{
    color:#20331B;
}

article.post a:hover{
    text-decoration:none;
}

aside[role="complementary"]{
    background-color:#C3CA92;
    padding:5px;
}

aside .container{
    display:flex;
    gap:40px;
    flex-direction:row;
}

aside .widget a:last-of-type{
    display:block;
    text-align:right;
    padding-top:20px;
    color:#20331B;
}

aside .widget footer{
    display:none;
}

#colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
  }

/*  --------------- Media Queries -----------------  */
@media screen and (max-width:600px){

    header.primary nav ul{
        flex-direction:column;
        margin:auto;
    }

    header.primary nav a{
        display:block;
    }
    header.primary nav li{
        margin-bottom: 10px;
    }
}