/* Color Scheme
- Off White: #dddddc | rgba(221,221,220,255)
- Off Yellow: #fefebf | rgba(254,254,168,255)
- Blue: 44585a | rgba(68,88,90,255)
- Off Brown: #8a7e64 | rgba(138,126,100,255)

Font Selectors:
font-family: 'Comfortaa', cursive;
font-family: 'Overpass', sans-serif;
*/






/*  --------------- Media Queries -----------------  */
@media screen and (max-width:600px){

    header.primary nav ul{
        flex-direction:column;
        margin:auto;
    }

    header.primary nav a{
        display:block;
    }
    header.primary nav li{
        margin-bottom: 10px;
    }
}