/* Color Scheme
- Off White: #dddddc | rgba(221,221,220,255)
- Off Yellow: #fefebf | rgba(254,254,168,255)
- Blue: 44585a | rgba(68,88,90,255)
- Off Brown: #8a7e64 | rgba(138,126,100,255)

Font Selectors:
font-family: 'Comfortaa', cursive;
font-family: 'Overpass', sans-serif;
*/

/*  --------------- Header -----------------  */
header.primary{
    font-family:'Comfortaa', cursive;
    background-color:#dddddc;
    text-align:center;
    text-shadow:1px 1px 2px #dddddc;
    padding:60px 60px 60px 60px;
}

.hamburger-menu {
    position:fixed;
    top:0px;
    right:0px;
    padding-top:5rem;
    display:none;
}

.menu-icon{
    background-color:#dddddc;
    position:fixed;
    top:0px;
    right:0px;
    padding-top:5rem;
}

.menu-icon:hover + .hamburger-menu{
    display:block;
}

.menu{
    list-style:none;
}

.menu li{
    margin-top:10px;
    font-weight:500;
}
/*  --------------- Body -----------------  */
body{
    font-family:'Overpass', sans-serif;
    font-size:large;
    background-color:#dddddc;
}








/*  --------------- Media Queries -----------------  */
@media screen and (max-width:600px){

    header.primary nav ul{
        flex-direction:column;
        margin:auto;
    }

    header.primary nav a{
        display:block;
    }
    header.primary nav li{
        margin-bottom: 10px;
    }
}